body {
    margin: 0;
    padding: 0;
    background-color: #F5F4FA;
    color: #2A2A3C;
    font-family: "Poppins", sans-serif;
}

.app-root {
    min-height: 100vh;
    background-color: #F5F4FA;
}

.app-content {
    padding: 32px 20px;
}